.MenuBar-container {
  margin: 20px 0px 0px 0px;
}
.items {
  list-style: none;
  margin-right: 30px;
  font-size: 22px;
  font-weight: 500;
  color: #0c2e60;
  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}
.items:hover {
  color: rgb(221, 5, 5);
}
