.banner {
  background-image: url("../image/2.jpg"),
    linear-gradient(rgb(25 62 90 / 50%), rgb(76 54 9 / 50%));
  height: 520px;
  width: 100%;
  /* border: 1px solid red; */
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-text {
  text-align: center;
}
.banner-text h1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
}
.banner-text h3 {
  color: #ad6808;
  font-weight: bold;
  font-size: 65px;
}
